@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss-animated";

@source './tailwindcss-safelist';
@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-xs: calc(var(--radius) - 6px);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
}

:root {
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.4005 0.044 269.05);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.5651 0.0052 258.34);
    --accent: oklch(0.6443 0.1814 254.73 / 98.82%);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);
    --info: oklch(70% 0.1583 253.63deg);
    --info-foreground: oklch(57.7% 0.245 27.325deg);
    --warning: oklch(90% 0.1817 99deg);
    --warning-foreground: oklch(64% 0.1293 90.18deg);
    --success: oklch(73% 0.2112 147.9683deg);
    --success-foreground: oklch(98% 0.0181 155.83deg);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.8203 0 0);
    --ring: oklch(0.705 0.015 286.067);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.21 0.006 285.885);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.705 0.015 286.067);
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.141 0.005 285.823);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.141 0.005 285.823);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.6443 0.1814 254.73);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.274 0.006 286.033);
    --input: oklch(0.274 0.006 286.033);
    --ring: oklch(0.442 0.017 285.786);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.274 0.006 286.033);
    --sidebar-ring: oklch(0.442 0.017 285.786);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }

    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-none {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    @keyframes open-dialog {
        from {
            height: var(--item-height, 0);
            width: var(--item-width, 0);
            top: var(--item-top, 0);
            left: var(--item-left, 0);
            border-radius: 16px;
        }

        to {
            height: 100svh;
            width: 100svw;
            top: 0;
            left: 0;
            border-radius: 0;
        }
    }

    .open-dialog {
        animation: open-dialog 0.3s ease-in-out 0s 1 forwards;
    }

    @keyframes close-dialog {
        from {
            height: var(--item-height, 0);
            width: var(--item-width, 0);
            top: var(--item-top, 0);
            left: var(--item-left, 0);
            border-radius: 16px;
        }

        to {
            height: 100svh;
            width: 100svw;
            top: 0;
            left: 0;
            border-radius: 0;
        }
    }

    .close-dialog {
        animation: close-dialog 0.3s ease-in-out 0s 1 reverse forwards;
    }

    li[data-sonner-toast] {
        border-radius: 16px 5px 5px 16px !important;
        position: relative;
        overflow: hidden;
        padding: 20px 20px 48px 32px !important;
    }
    li[data-sonner-toast]::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: var(--success);
        height: 100%;
        width: 12px;
    }

    li[data-sonner-toast] button {
        position: absolute;
        bottom: 24px;
        left: 80px;
    }
    li[data-sonner-toast] div[data-icon],
    li[data-sonner-toast] div[data-icon] svg {
        height: 40px !important;
        width: 40px !important;
    }
}
